:root {
  --text-color: #ffffff;
  --background-color: #2f303a;
  --button-color: #2196f3;
}
.order-service {
  background-color: var(--background-color);
}
.title {
  color: var(--text-color);
}
.button-1 {
  background-color: var(--button-color);
  color: var(--text-color);
}
.footer{
  background-color: var(--background-color);
}
footer>ul>li> p{
  color: var(--text-color);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}